body {
    font-family: Arial, sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    padding: 40px;
    width: 400px;
    height: 320px;
}

#display {
    width: calc(100% - 40px);
    padding: 18px;
    margin-bottom: 14px;
    font-size: 24px;
    border: none;
    border-radius: 6px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.number {
    background-color: #4CAF50;
    color: #fff;
}

.operator, .clear, .equals {
    background-color: #2196F3;
    color: #fff;
}